<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hockeytom1.eatingapp" >

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MealView"
            android:label="@string/title_activity_meal_view"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hockeytom1.eatingapp.MainMenu" />
        </activity>
        <activity
            android:name=".HistoryView"
            android:label="@string/title_activity_history_view"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hockeytom1.eatingapp.MainMenu" />
        </activity>
        <activity
            android:name=".HistoryElementView"
            android:label="@string/title_activity_history_element_view"
            android:parentActivityName=".HistoryView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hockeytom1.eatingapp.HistoryView" />
        </activity>
    </application>

</manifest>
